@model CoreHotelRoomBookingAdminPortal.Models.Hotel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@*<form asp-action="Edit" asp-controller="Hotel">
        <input type="hidden" asp-for="HotelId" />
        <label asp-for="HotelName"></label>
        <input type="text" asp-for="HotelName" />
        <br />
        <label asp-for="HotelDescription"></label>
        <input type="text" asp-for="HotelDescription" />
        <br />
        <label asp-for="HotelAddress"></label>
        <input type="text" asp-for="HotelAddress" />
        <br />
        <label asp-for="District"></label>
        <input type="text" asp-for="District" />
        <br />
        <label asp-for="City"></label>
        <input type="text" asp-for="City" />
        <br />
        <label asp-for="State"></label>
        <input type="text" asp-for="State" />
        <br />
        <label asp-for="Country"></label>
        <input type="text" asp-for="Country" />
        <br />
        <label asp-for="HotelEmailId"></label>
        <input type="text" asp-for="HotelEmailId" />
        <br />
        <label asp-for="HotelRating"></label>
        <input type="text" asp-for="HotelRating" />
        <br />
        <label asp-for="HotelImage"></label>
        <input type="text" asp-for="HotelImage" />
        <br />
        <label asp-for="HotelContactNumber"></label>
        <input type="text" asp-for="HotelContactNumber" />
        <br />

        <label asp-for="HotelTypeId"></label>
        <select asp-for="HotelTypeId" asp-items="ViewBag.hoteltypes"></select>
        <br />
        <input type="submit" value="Edit Hotel" />
    </form>*@

<form asp-action="Edit" asp-controller="Hotel">
    <div class="form-group">
       
        <input type="hidden" asp-for="HotelId" class="form-control" aria-describedby="HotelId">
    </div>
    <div class="form-group">
        <label asp-for="HotelName">Hotel Name</label>
        <input type="text" asp-for="HotelName" class="form-control" aria-describedby="HotelName" placeholder="Enter Hotel Name">
    </div>
    <div class="form-group">
        <label asp-for="HotelDescription">Hotel Description</label>
        <input type="text" asp-for="HotelDescription" class="form-control" aria-describedby="HotelDescription" placeholder="Enter Hotel Description">
    </div>
    <div class="form-group">
        <label asp-for="HotelAddress">Hotel Address</label>
        <input type="text" asp-for="HotelAddress" class="form-control" aria-describedby="HotelAddress" placeholder="Enter Hotel Address">
    </div>
    <div class="form-group">
        <label asp-for="District">District</label>
        <input type="text" asp-for="District" class="form-control" aria-describedby="District" placeholder="Enter District">
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input type="text" asp-for="City" class="form-control" aria-describedby="City" placeholder="Enter City">
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input type="text" asp-for="State" class="form-control" aria-describedby="State" placeholder="Enter State">
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <input type="text" asp-for="Country" class="form-control" aria-describedby="Country" placeholder="Enter Country">
    </div>
    <div class="form-group">
        <label asp-for="HotelEmailId">Hotel EmailId</label>
        <input type="text" asp-for="HotelEmailId" class="form-control" aria-describedby="HotelEmailId" placeholder="Enter Hotel EmailId">

    </div>
    <div class="form-group">
        <label asp-for="HotelRating">Hotel Rating</label>
        <input type="text" asp-for="HotelRating" class="form-control" aria-describedby="HotelRating" placeholder="Enter Hotel Rating">
    </div>
    <div class="form-group">
        <label asp-for="HotelContactNumber">Hotel ContactNumber</label>
        <input type="text" asp-for="HotelContactNumber" class="form-control" aria-describedby="HotelContactNumber" placeholder="Enter Hotel ContactNumber">
    </div>
    <div class="form-group">
        <label asp-for="HotelTypeId">HotelTypeId</label>
        <select asp-for="HotelTypeId" asp-items="ViewBag.hoteltypes" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="HotelImage">Upload Hotel Image</label>
        <input type="text" asp-for="HotelImage" class="form-control" aria-describedby="HotelImage" placeholder="Enter HotelImage URL">
    </div>


    <button type="submit" class="btn btn-primary">Edit Hotel</button>
</form>

<a asp-controller="Hotel" asp-action="Index" class="btn btn-primary">Back To List</a>