
@model IEnumerable<coreCustomerHotelRoomBooking.Models.HotelRooms>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hotel Rooms</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        @*Thumbnail Start*@
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img style="width:337px ; height:200px" src="@item.RoomImage" class="bd-placeholder-img card-img-top" />
                        <div class="card-body">
                            <p class="card-text" style="font-weight:bold;">@item.RoomType</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="HotelRoom" asp-action="ViewDetails" asp-route-id="@item.RoomId" class="btn btn-sm btn-outline-secondary">View</a>
                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>*@
                                    <a asp-controller="Book" asp-action="buy" asp-route-id="@item.RoomId" class="btn btn-sm btn-outline-secondary"><button id="demo" onclick="myFunction()">Book Room</button></a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                @*Thumbnail End*@
            }
        </div>
    </div>
</div>